___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy
import seaborn as sns
from functools import reduce
import warnings
warnings.filterwarnings('ignore') 
pd.set_option("display.max_columns", None)
# pd.set_option('display.max_colwidth', None) # shows all values in cells
#from skimpy import clean_columns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [107]:
df0 = pd.read_json('/content/drive/MyDrive/Colab Notebooks/Auto Scout EDA/scout_car.json', lines= True)
df = df0.copy()
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
#scout_car = pd.read_json ('scout_car.json', lines = True)
#df = scout_car.copy()
df.sample(3).T

,9515,6549,14368
url,https://www.autoscout24.com//offers/opel-corsa...,https://www.autoscout24.com//offers/opel-astra...,https://www.autoscout24.com//offers/renault-cl...
make_model,Opel Corsa,Opel Astra,Renault Clio
short_description,E 1.4 Edition*Klima*USB*90PS*wie NEU 2018,K 1.4 Selection*Alu*FSA*Klima*ZV*,1.6 T 220 EDC 18 RS CUIR CAMERA MONITOR SUPERBE
body_type,Compact,Sedans,Sedans
price,9777,10990,25990
vat,VAT deductible,None,None
km,"8,990 km","3,898 km","7,900 km"
registration,01/2018,05/2017,07/2018
prev_owner,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,74 kW,162 kW
Type,"[, Used, , Super 95]","[, Used, , Gasoline]","[, Used, , Gasoline]"
Previous Owners,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n01/2021\n, \n123 g CO2/km (comb)\n]",NaN,NaN
Inspection new,NaN,NaN,NaN
Warranty,"[\n, \n, \nEuro 6\n]",NaN,"[\n14 months\n, \n135 g CO2/km (comb)\n]"
Full Service,"[\n, \n, \n4 (Green)\n]","[\n, \n, \n128 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]"
Non-smoking Vehicle,"[\n, \n]","[\n, \n, \nEuro 6\n]",NaN
null,[],[],[]
Make,\nOpel\n,\nOpel\n,\nRenault\n
Model,"[\n, Corsa, \n]","[\n, Astra, \n]","[\n, Clio, \n]"
Offer Number,[\n5105\n],[\nLT67679\n],NaN
First Registration,"[\n, 2018, \n]","[\n, 2017, \n]","[\n, 2018, \n]"
Body Color,"[\n, White, \n]","[\n, Silver, \n]","[\n, Black, \n]"
Paint Type,NaN,[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nSchneeWeiss\n],NaN,[\nEtoile\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Black\n]","[\nFull leather, Black\n]"
Body,"[\n, Compact, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n2\n],[\n4\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n5\n],[\n5\n]
Model Code,NaN,NaN,NaN
Gearing Type,"[\n, Manual, \n]","[\n, Manual, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,398 cc\n]","[\n1,399 cc\n]","[\n1,618 cc\n]"
Cylinders,NaN,NaN,[\n4\n]
Weight,NaN,NaN,"[\n1,204 kg\n]"
Drive chain,NaN,NaN,[\nfront\n]
Fuel,"[\n, Super 95, \n]","[\n, Gasoline, \n]","[\n, Gasoline, \n]"
Consumption,"[[5.2 l/100 km (comb)], [6.6 l/100 km (city)],...","[[5.4 l/100 km (comb)], [7.4 l/100 km (city)],...","[[5.9 l/100 km (comb)], [7.6 l/100 km (city)],..."
CO2 Emission,[\n123 g CO2/km (comb)\n],[\n128 g CO2/km (comb)\n],[\n135 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Electrical side mirrors, Hi...","[Air conditioning, Electrical side mirrors, Hi...","[Air conditioning, Automatic climate control, ..."
\nEntertainment & Media\n,"[Bluetooth, CD player, Hands-free equipment, O...","[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, CD player, Hands-free equipment, O..."
\nExtras\n,NaN,[Alloy wheels],"[Alloy wheels, Sport package, Sport seats, Spo..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit..."
description,"[\n, PKW Nummer: 5105, Preisreduzierter Corsa ...","[\n, Fahrzeugbeschreibung, Sichern Sie sich d...",[\nAUTO PASSION 18 SPECIALISTE DE L'AUTOMOBILE...
Emission Label,NaN,[\n4 (Green)\n],NaN
Gears,NaN,NaN,[\n6\n]
Country version,[\nGermany\n],NaN,[\nFrance\n]
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

## notes

make_model ---------Make ve Model olarak 2 ayrı sütunda bulunmaktadır. 
ÇÖZÜM 1: make_model 2 ayrı sütuna ayrılabilir veya tek sütun olarak da kalabilir
ÇÖZÜM 2: (SİLİNEBİLİR) (Make ve Model temizlenecek)

km--------------- '-' NULL Olacak; resgistration bilgisi olmayanlar 0 km olabilir, registration olmadığı halde km yüksekler var

registration-------- '-/-' NULL Olacak, format DATE olabilir

prev_owner ve Previous Owners sütunları için Previous Owners temizlenecek ve karşılaştırılacak

kW tamamen NULL o yüzden direk silinecek

hp sütun adı değişebilir (kw bilgisi için) 'kw' birimi silinecek

Type sütunu ikiye bölünecek, Fuel kısmı silinecek onun yerine Fuel sütunu kullanılacak, Type'daki ikinci sütun ise Use Status sütunu olacak, ileride kullanılabilir

Next Inspection ve Inspection new sütunları incelenecek. 

Tüm tablodaki CO2/km verileri için CO2 emission sütunu kullanılabilir.

Full Service ve Emission Class sütunları temizlendikten sonra karşılaştırılıp Emission Class'daki Null değerler doldurulacak.

Non-smoking Vehicle	sütunu null ve boş değerler ile dolu olduğundan silinebilir.

null sütunu silinecek,

First Registration silinecek çünkü Registration ile benzer

Offer Number silinebilir, anlamsız..

Renklerdeki '/n' temizlenecek

Body sütunu silenecek, aynı veri body_type da mevcut

Nr. of Seats ve Nr. of Doors sütunları için '/n' temizlenecek, sütun adları değişebilir

Model Code '/n' temizlenecek

Gearing Type '/n' temizlenecek, column adı değişecek

Displacement sütun başlığında (cc) ekleyelim, verilerdeki ',' , 'cc' ve /n değerlerini silelim

Cylinders /n değerlerini silelim

Weight verilerdeki ',' , 'kg' ve /n değerlerini silelim

Drive chain /n değerlerini silelim

Yukarıdaki 3 sütun için null değerler aynı gruplara bakılarak doldurulabilir

Consumption sütunu 3'e bölünüp sadece int değerler alınacak

'\nComfort & Convenience\n', \nEntertainment & Media\n, \nExtras\n, \nSafety & Security\n  sütunları adı değişecek ve get dummies komutları uygulanacak

description sütunu Almanca araç tanıtımı içeriyor, null veriler için kullanılabilir

Emission Label, gears, Country version temizlenecek

Warranty sütunundaki süreler alınacak ve temizlenecek

ALTTAKİLER DİREK SİLİNEBİLİR..

Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [110]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [111]:
df.isnull().sum() / len(df)*100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [112]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

##1.URL

In [ ]:
df.url.value_counts(dropna=False)  # irrelevant to price so will be dropped

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [113]:
df.drop('url', axis=1,inplace = True)

##2.make_model

In [114]:
df.make_model.value_counts(dropna=False) ## in order to work with ML, should be dummied

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [ ]:
df.make_model.sample(5)

1432          Audi A1
5949       Opel Astra
14753    Renault Clio
5480          Audi A3
3495          Audi A3
Name: make_model, dtype: object

##3.short_description

In [115]:
df.short_description.value_counts(dropna=False) # will be erased, but first look for null values to fill other columns

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

##**4**.body_type

In [116]:
df.body_type.value_counts(dropna=False)    ## in order to work with ML, should be dummied

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [ ]:
df.body_type.sample(5)

12022    Station wagon
927             Sedans
464            Compact
15162              Van
6530            Sedans
Name: body_type, dtype: object

In [ ]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Country version', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [ ]:
df[df.body_type.isnull()][['body_type','Body','short_description','make_model']]  ## NaN values should be filled in missing values part

,body_type,Body,short_description,make_model,description
3175,None,NaN,1.6 TDi,Audi A3,[\nAudi A3 S-Line au look sportif. Voiture ent...
3255,None,NaN,1.6 TDI S tronic Business (MY2017),Audi A3,"[\nmodel year 2017, versione Business navigato..."
3975,None,NaN,Sportback Sport S tronic,Audi A3,"[\nAnschlussgarantie 3 Jahre max.100000km, AHK..."
3997,None,NaN,(3E GENERATION) III (2) 1.6 TDI 110 BUSINESS LINE,Audi A3,[\n5 places ABS Acoudoir central Airbags Audio...
4206,None,NaN,Sportback 1.4 TFSI 125CV Attraction,Audi A3,"[\nMás de 2.000 coches en la web de Flexicar ,..."
4297,None,NaN,Sportback 1.4 TFSI 125CV Attraction,Audi A3,"[\nMás de 2.000 coches en la web de Flexicar ,..."
4298,None,NaN,Sportback 1.4 TFSI 125CV Attraction,Audi A3,"[\nMás de 2.000 coches en la web de Flexicar ,..."
5718,None,NaN,1.6 CDTi 136 CV Excellence Auto,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
5938,None,NaN,1.6 CDTi 136 CV Excellence Auto,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
5940,None,NaN,1.6 CDTi 136 CV Excellence Auto,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
6920,None,NaN,1.6 CDTi 81kW (110CV) Selective,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
6922,None,NaN,1.6 CDTi 81kW (110CV) Selective,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
6927,None,NaN,1.6 CDTi 81kW (110CV) Selective,Opel Astra,"[\nMás de 2.000 coches en la web de Flexicar ,..."
7709,None,NaN,ELITE 5P 1.4 Turbo 150ch BVA6 MY19.5 (2019A),Opel Astra,[\n()\n]
8408,None,NaN,"E 1,4 5-tg Easytronic Color Edition",Opel Corsa,"[\n, Ausstattungsliste, Werksgarantie 2 Jahre ..."
8584,None,NaN,None,Opel Corsa,"[\nVéhicule propre aucun souci , contact par m..."
10837,None,NaN,2.0 CDTI Excellence Auto,Opel Insignia,"[\nMás de 2.000 coches en la web de Flexicar ,..."
10838,None,NaN,2.0 CDTI Excellence Auto,Opel Insignia,"[\nMás de 2.000 coches en la web de Flexicar ,..."
10857,None,NaN,2.0 CDTI Excellence Auto,Opel Insignia,"[\nMás de 2.000 coches en la web de Flexicar ,..."
13430,None,NaN,Ste 1.5 dCi 90ch energy Air MédiaNav eco² Euro6 8,Renault Clio,[\nRoue de secours ABS Aide au démarrage en cô...
13470,None,NaN,Limited 1.2 16v 55kW (75CV) -18,Renault Clio,"[\nMás de 2.000 coches en la web de Flexicar ,..."
13576,None,NaN,Ste 1.5 dCi 75ch energy Air MédiaNav Euro6,Renault Clio,[\nAide au parking AR Roue de secours ABS Aide...
13703,None,NaN,Ste 1.5 dCi 75ch energy Air MédiaNav,Renault Clio,[\nABS Clim manuelle ESP GPS Cartographique Ki...
13725,None,NaN,Ste 1.5 dCi 75ch energy Air MédiaNav,Renault Clio,[\nRoue de secours ABS Clim manuelle ESP GPS C...
13852,None,NaN,van 1.5 dci 75cv S S E6,Renault Clio,"[\nEuro 6, ABS, Air Bag, Air Bag Pass., Servos..."
13900,None,NaN,1.5 dCi 75ch energy Zen 5p,Renault Clio,[\nRoue de secours ABS Aide au démarrage en cô...
14107,None,NaN,Business Energy dCi 55kW (75CV),Renault Clio,"[\nMás de 2.000 coches en la web de Flexicar ,..."
14124,None,NaN,Ste 1.5 dCi 75ch energy Air,Renault Clio,[\n4 Haut parleurs ABS Aide au démarrage en cô...
14127,None,NaN,Ste 1.5 dCi 75ch energy Air,Renault Clio,[\n4 Haut parleurs ABS Aide au démarrage en cô...
14134,None,NaN,Ste 1.5 dCi 75ch energy Générique,Renault Clio,[\nABS Aide au démarrage en côte Aide au frein...
14135,None,NaN,Ste 1.5 dCi 75ch energy Générique,Renault Clio,[\nABS Aide au démarrage en côte Aide au frein...
14480,None,NaN,1.2i Life,Renault Clio,"[\nAchterramen zijn getint op 5%., Logo\\\'s v..."
14869,None,NaN,"Sitzhzg.,Klima,PDC,Bluetooth,Tempomat",Renault Clio,"[\n, BONUSAKTION, - limitiert u. zeitlich bef..."
14870,None,NaN,"Sitzhzg.,Klima,PDC,Bluetooth,Tempomat",Renault Clio,"[\n, BONUSAKTION, - limitiert u. zeitlich bef..."
14928,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
14990,None,NaN,V Espace Limited Tce 225 Edc 7places Co2 = 152g,Renault Espace,[\nCette voiture sera facturée 22 333 euros HT...
15058,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
15059,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
15060,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
15124,None,NaN,V Espace Initiale Paris Dci 160 Edc,Renault Espace,"[\nEquipements : ABS, Affichage tête haute, Ai..."
15269,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
15275,None,NaN,Zen Energy dCi 160 Twin Turbo EDC,Renault Espace,"[\nMás de 2.000 coches en la web de Flexicar ,..."
15289,None,NaN,V Espace Zen Dci 130 Energy,Renault Espace,[\nCette voiture sera facturée 23 450 euros HT...
15307,None,NaN,V Espace Intens Dci 130 Energy Jantes 18'',Renault Espace,[\nCette voiture sera facturée 25 833 euros HT...
15378,None,NaN,V Espace Life Dci 130 Energy + Full Led,Renault Espace,[\nCette voiture sera facturée 22 042 euros HT...
15437,None,NaN,1.6 dci energy Executive 160cv 7p.ti edc,Renault Espace,"[\n, Altre opzioni, *-Accensione automatica de..."
15452,None,NaN,V Espace Intens Dci 160 Energy Edc Jantes 18'',Renault Espace,[\nCette voiture sera facturée 27 750 euros HT...
15456,None,NaN,V Espace Initiale Paris Dci 160 Edc 7places + ...,Renault Espace,[\nCette voiture sera facturée 27 833 euros HT...
15457,None,NaN,V Espace Initiale Paris Dci 160 Edc 7places + ...,Renault Espace,[\nCette voiture sera facturée 27 833 euros HT...
15488,None,NaN,V Espace Intens Tce 225 Energy Edc,Renault Espace,[\nCette voiture sera facturée 27 167 euros HT...
15489,None,NaN,1.6 dCi Energy Initiale Paris EDC CUIR GPS LED,Renault Espace,[\n1° Main7 PlacesIntérieur cuirSièges avant é...
15491,None,NaN,1.6 dCi Energy Initiale Paris EDC CUIR GPS LED,Renault Espace,[\n1° Main7 PlacesIntérieur cuirSièges avant é...
15499,None,NaN,V Espace Intens Tce 225 Energy Edc Jantes 18'',Renault Espace,[\nCette voiture sera facturée 26 833 euros HT...
15544,None,NaN,V Espace Zen Tce 225 Energy Edc,Renault Espace,[\nCette voiture sera facturée 24 792 euros HT...
15556,None,NaN,V Espace Zen Dci 160 Energy Edc,Renault Espace,[\nCette voiture sera facturée 25 133 euros HT...
15589,None,NaN,1.6 dci energy Intens 160cv 7p.ti edc,Renault Espace,"[\n, Altre opzioni, *-Accensione automatica de..."
15696,None,NaN,1.6 dci energy Executive 160cv 7p.ti edc,Renault Espace,"[\n, Altre opzioni, *-Accensione automatica de..."
15712,None,NaN,1.6 dci energy Intens 160cv 7p.ti edc,Renault Espace,"[\n, Altre opzioni, *-Accensione automatica de..."
15736,None,NaN,V Espace Initiale Paris Tce 225 Energy Edc,Renault Espace,[\nCette voiture sera facturée 29 540 euros HT...
15770,None,NaN,V Espace Initiale Paris Dci 160 Energy Edc,Renault Espace,[\nCette voiture sera facturée 29 942 euros HT...

In [ ]:
df.loc[df["make_model"] == "Audi A3"]

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
2615,Audi A3,"1,5 TFSI BENZINA TURBO 155 CV CABRIO",Convertible,10893,VAT deductible,"19,800 km",06/2018,None,NaN,110 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,"[\n16 months\n, \n116 g CO2/km (comb)\n]","[\n, \n, \nEuro 6d-TEMP\n]","[\n, \n]",[],\nAudi\n,"[\n, A3, \n]",NaN,"[\n, 2018, \n]","[\n, Red, \n]",NaN,[\nRosso\n],"[\nPart leather, Brown\n]","[\n, Convertible, \n]",[\n2\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,498 cc\n]",[\n4\n],"[\n1,470 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.1 l/100 km (comb)], [6.3 l/100 km (city)],...",[\n116 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Digital radio, Hands-fr...","[Alloy wheels, Shift paddles]","[ABS, Adaptive Cruise Control, Blind spot moni...","[\n, Attenzione il prezzo che vedete e' indica...",NaN,[\n7\n],[\nItaly\n],NaN,\n06/2019\n,NaN,NaN,NaN,NaN
2616,Audi A3,1.6 TDI S tronic design,Sedans,13000,Price negotiable,"36,792 km",06/2017,1 previous owner,NaN,81 kW,"[, Used, , Diesel]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",NaN,"[\n, 2017, \n]","[\n, White, \n]",NaN,NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,255 kg\n]",NaN,"[\n, Diesel, \n]","[[4 l/100 km (comb)], [4.7 l/100 km (city)], [...",[\n107 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Hill Holder, Leather steeri...","[Bluetooth, CD player, MP3, On-board computer,...","[Alloy wheels, Voice Control]","[ABS, Central door lock with remote control, D...",[],NaN,[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2617,Audi A3,SPORTBACK 1.6 TDI S tronic Business,Sedans,15450,VAT deductible,"149,006 km",10/2016,1 previous owner,NaN,81 kW,"[, Used, , Diesel]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n2753381\n],"[\n, 2016, \n]","[\n, Blue, \n]",[\nMetallic\n],[\nBlu\n],[\nGrey\n],"[\n, Sedans, \n]",NaN,NaN,NaN,"[\n, Automatic, \n]",NaN,NaN,NaN,NaN,"[\n, Diesel, \n]",NaN,NaN,"[[], [], []]",NaN,NaN,NaN,NaN,"[\nDEK:[2753381], Codice riferimento: 16061 - ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2618,Audi A3,Sportback 2.0 TDI Leder Navi Xenon+,Sedans,15680,VAT deductible,"141,147 km",02/2016,1 previous owner,NaN,110 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n4 (Green)\n]",NaN,[],\nAudi\n,"[\n, A3, \n]",[\n224098\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz met.\n],"[\nalcantara, Grey\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],[\n0588/AWJ\n],"[\n, Automatic, \n]","[\n1,968 cc\n]",NaN,NaN,NaN,"[\n, Diesel (Particulate Filter), \n]",NaN,NaN,"[[], [], []]","[Air conditioning, Automatic climate control, ...","[Bluetooth, CD player, On-board computer]","[Alloy wheels, Roof rack, Sport seats]","[ABS, Central door lock, Driver-side airbag, E...","[\n, Nr. 2908 Standort: 27404 Bockel , , , ...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2619,Audi A3,2.0TDI/S tronic/NAVI/MMI/BIXENON//LED/SENSORI,Sedans,16490,Price negotiable,"44,500 km",08/2016,1 previous owner,NaN,110 kW,"[, Used, , Diesel]",\n1\n,NaN,NaN,[\n12 months\n],"[\n, \n]",NaN,[],\nAudi\n,"[\n, A3, \n]",NaN,"[\n, 2016, \n]","[\n, Grey, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n5\n],NaN,NaN,"[\n, Automatic, \n]",NaN,NaN,NaN,NaN,"[\n, Diesel, \n]",NaN,NaN,NaN,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Digital radio, Hands-fr...","[Alloy wheels, Roof rack, Ski bag, Sport seats]","[ABS, Adaptive Cruise Control, Adaptive headli...",[\n(SI ACCETTANO EVENTUALI PERMUTE) GARANZIA C...,NaN,NaN,[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5707,Audi A3,SPB 30 TFSI Sport,Sedans,25000,VAT deductible,54 km,01/2019,None,NaN,85 kW,"[, Pre-registered, , Super 95]",NaN,NaN,NaN,\n,NaN,"[\n, \n, \n117 g CO2/km (comb)\n]",[],\nAudi\n,"[\n, A3, \n]",[\njkbzqkr4\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,NaN,"[\nCloth, Other\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Manual, \n]",[\n999 cc\n],[\n3\n],NaN,[\nfront\n],"[\n, Super 95, \n]","[[5.1 l/100 km (comb)], [6 l/100 km (city)], [...",[\n117 g CO2/km (comb)\n],NaN,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Adaptive headlights, Central door lock, ...","[\nGaranzia del costruttore , vettura aziendal...",[\n1 (No sticker)\n],[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
5708,Audi A3,"Sportback, 35 TFSI, 1.5, 150 PS, EURO 6, WLTP",Sedans,24980,VAT deductible,50 km,01/2019,1 previous owner,NaN,110 kW,"[, Pre-registered, , Super E10 95]",\n1\n,NaN,"[\nYes\n, \n125 g CO2/km (comb)\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n3097\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,[\nIbisweiß\n],[\nCloth\n],"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLL\n],"[\n, Manual, \n]","[\n1,498 cc\n]",[\n4\n],"[\n1,325 kg\n]",NaN,"[\n, Super E10 95, \n]","[[5.5 l/100 km (comb)], [6.9 l/100 km (city)],...",[\n125 g CO2/km (comb)\n],NaN,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, USB]",[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...",[\nWir heißen Sie herzlich Willkommen im Autoh...,[\n4 (Green)\n],[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
5709,Audi A3,"Sportback design 30 TFSI Sitzheizung vorne, Lic",Station wagon,24980,None,"6,666 km",02/2019,1 previous owner,NaN,85 kW,"[, Demonstration, , Super 95]",\n1\n,"[\n02/2022\n, \n118 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,"[\n, \n, \n4 (Green)\n]",[],\nAudi\n,"[\n, A3, \n]",[\nA001496\n],"[\n, 2019, \n]","[\n, Silver, \n]",[\nMetallic\n],[\nFlorettsilber\n],"[\nPart leather, Black\n]","[\n, Station wagon, \n]",[\n5\n],[\n5\n],[\n0588/BHX\n],"[\n, Manual, \n]",[\n999 cc\n],NaN,"[\n1,365 kg\n]",NaN,"[\n, Super 95, \n]","[[5.1 l/100 km (comb)], [6.1 l/100 km (city)],...",[\n118 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, MP3, On-boar...","[Alloy wheels, Roof rack]","[ABS, Central door lock, Daytime running light...","[\n, Ausstattungspakete:, Connectivity paket,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5710,Audi A3,Sportback 30 TFSI design Connectivity Einpark,Sedans,24980,VAT deductible,10 km,-/-,None,NaN,85 kW,"[, New, , Super 95]",NaN,NaN,NaN,\n,NaN,"[\n, \n, \n113 g CO2/km (comb)\n]",[],\nAudi\n,"[\n, A3, \n]",[\nGDR658\n],NaN,"[\n, Silver, \n]",[\nMetallic\n],[\nFlorettsilber Metallic\n],"[\nPart leather, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],[\n0588/BHX\n],"[\n, Manual, \n]",[\n999 cc\n],[\n3\n],"[\n1,255 kg\n]",NaN,"[\n, Super 95, \n]","[[4.8 l/100 km (comb)], [5.8 l/100 km (city)],...",[\n113 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Roof rack]","[ABS, Central door lock, Daytime running light...","[\n, Preis inkl. Überführungskosten, Getriebe ...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5711,Audi A3,Sportback 30 TFSI DESIGN Connectivity Einpark,Sedans,24980,VAT deductible,10 km,-/-,None,NaN,85 kW,"[, New, , Super 95]",NaN,NaN,NaN,\n,NaN,"[\n, \n, \n113 g CO2/km (comb)\n]",[],\nAudi\n,"[\n, A3, \n]",[\nGDR657\n],NaN,"[\n, Silver, \n]",[\nMetallic\n],[\nFlorettsilber Metallic\n],"[\nPart leather, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],[\n0588/BHX\n],"[\n, Manual, \n]",[\n999 cc\n],[\n3\n],"[\n1,255 kg\n]",NaN,"[\n, Super 95, \n]","[[4.8 l/100 km (comb)], [5.8 l/100 km (city)],...",[\n113 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Roof rack]","[ABS, Central door lock, Daytime running light...","[\n, Preis inkl. Überführungskosten, Getriebe ...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

##5.price

In [117]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [118]:
df.price.isnull().sum()

0

##6.vat

In [119]:
df.vat.value_counts(dropna=False)  ## if it will be used, will be dummied

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [ ]:
df.vat.sample(5)

13032    VAT deductible
1424     VAT deductible
5177     VAT deductible
15203              None
15550    VAT deductible
Name: vat, dtype: object

##7.km

In [120]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [ ]:
df.km.sample(5)    ## if there is no 1 previous owner, then - km  will be 0

9081      8,000 km
9358      4,600 km
11674    21,900 km
7902        111 km
15481         - km
Name: km, dtype: object

In [121]:
df['Previous Owners'].isnull().value_counts()

False    9279
True     6640
Name: Previous Owners, dtype: int64

In [122]:
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [ ]:
df.loc[(df["km"] == "- km") & (df["prev_owner"] == '1 previous owner') ] # missing values will be filled by suitable technic

,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
981,Audi A1,Sportback 1.4 TDI S tronic Admired,Sedans,20999,VAT deductible,- km,06/2018,1 previous owner,NaN,66 kW,"[, Pre-registered, , Diesel]",\n1\n,NaN,NaN,"[\n, \n, \nEuro 6\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n201805963-11017275\n],"[\n, 2018, \n]","[\n, White, \n]",[\nUni/basic\n],[\nBIANCO GHIACCIO/GRIGIO DAYTONA\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel, \n]",NaN,"[[], [], []]",[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",NaN,[Alloy wheels],"[Central door lock, Central door lock with rem...","[\nAppoggiabraccia centrale anteriore, Proiett...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,Audi A1,Sportback 1.4 TDI S tronic Admired,Sedans,20999,VAT deductible,- km,05/2018,1 previous owner,NaN,66 kW,"[, Pre-registered, , Diesel]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n201805721-11020420\n],"[\n, 2018, \n]","[\n, Grey, \n]",[\nUni/basic\n],[\nGrigio Freccia Perla\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel, \n]",NaN,"[[], [], []]",[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",NaN,[Alloy wheels],"[Central door lock, Central door lock with rem...","[\nAppoggiabraccia centrale anteriore, Look al...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,Audi A1,Sportback 1.4 TDI S tronic,Sedans,19999,VAT deductible,- km,06/2018,1 previous owner,NaN,66 kW,"[, Pre-registered, , Diesel]",\n1\n,NaN,NaN,"[\n, \n, \nEuro 6\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n201805988-11017300\n],"[\n, 2018, \n]","[\n, White, \n]",[\nUni/basic\n],[\nBIANCO GHIACCIO\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel, \n]",NaN,"[[], [], []]",[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",NaN,[Alloy wheels],"[Central door lock, Central door lock with rem...","[\nAppoggiabraccia centrale anteriore, Proiett...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1934,Audi A1,Sportback 30 TFSI S tronic S line edition,Sedans,28499,VAT deductible,- km,04/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Gasoline]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n201900742-11020108\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nGrigio Chronos Metallizzato\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]",[\n999 cc\n],NaN,NaN,[\nfront\n],"[\n, Gasoline, \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...",[\nVetri laterali posteriori e lunotto oscurat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,Audi A1,SPB 30 TFSI S tronic Admired,Sedans,27900,None,- km,05/2019,1 previous owner,NaN,85 kW,"[, Employee's car, , Gasoline]",\n1\n,NaN,NaN,"[\n24 months\n, \n108 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n11671165\n],"[\n, 2019, \n]","[\n, Red, \n]",[\nUni/basic\n],[\nRosso\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]",[\n999 cc\n],[\n3\n],"[\n1,230 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[4.8 l/100 km (comb)], [5.8 l/100 km (city)],...",[\n108 g CO2/km (comb)\n],NaN,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Shift paddles, Touch screen, Vo...","[ABS, Adaptive Cruise Control, Alarm system, C...","[\nVettura ufficiale Audi Italia, VETTURA DISP...",NaN,[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,Audi A3,SPB 1.6 TDI 116 CV S tronic Sport,Sedans,21990,None,- km,05/2018,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n1749205\n],"[\n, 2018, \n]","[\n, Black, \n]",NaN,[\nNERO\n],"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,845 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",[\n103 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Radio]",[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...","[\nAudi A3 SPB 1.6 tdi 116 Cv S Tronic Sport, ...",NaN,[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4993,Audi A3,"Sportback 30 TFSI S-Tronic, Navi, Euro 6d TEMP",Sedans,23900,VAT deductible,- km,-/-,1 previous owner,NaN,85 kW,"[, New, , Super E10 95]",\n1\n,"[\n11/2021\n, \n118 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20302\n],NaN,"[\n, White, \n]",[\nMetallic\n],[\nGletscherweiß Metallic\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BHX\n],"[\n, Automatic, \n]",[\n999 cc\n],[\n3\n],"[\n1,280 kg\n]",NaN,"[\n, Super E10 95, \n]","[[5.2 l/100 km (comb)], [5.8 l/100 km (city)],...",[\n118 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n7\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
4994,Audi A3,Sportback 30 TDI Business S-Tronic Euro 6d TEMP,Sedans,23900,VAT deductible,- km,-/-,1 previous owner,NaN,85 kW,"[, New, , Diesel (Particulate Filter)]",\n1\n,"[\n11/2021\n, \n105 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20308\n],NaN,"[\n, White, \n]",[\nMetallic\n],[\nGletscherweiß Metallic\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,385 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.3 l/100 km (city)], [...",[\n105 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n7\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
4995,Audi A3,Sportback 30 TDI Business S-Tronic Euro 6d TEMP,Sedans,23900,VAT deductible,- km,-/-,1 previous owner,NaN,85 kW,"[, New, , Diesel (Particulate Filter)]",\n1\n,"[\n11/2021\n, \n105 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20307\n],NaN,"[\n, Black, \n]",NaN,[\nBrillantschwarz\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,385 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.3 l/100 km (city)], [...",[\n105 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n7\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5089,Audi A3,Sportback 30 TDI S tronic Business,Sedans,26999,VAT deductible,- km,02/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n201900492-11019890\n],"[\n, 2019, \n]","[\n, White, \n]",[\nUni/basic\n],[\nBianco Ibis\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...","[\nVetri laterali post. e lunotto oscurati, Cl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5092,Audi A3,Sportback 30 TDI S tronic Business,Sedans,26999,VAT deductible,- km,02/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n201900494-11019892\n],"[\n, 2019, \n]","[\n, Black, \n]",[\nUni/basic\n],[\nNero Brillante\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...",[\nPacchetto luci interne (illum. interna man....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5120,Audi A3,Sportback 30 TDI S tronic Sport,Sedans,26499,VAT deductible,- km,02/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n201900515-11019907\n],"[\n, 2019, \n]","[\n, White, \n]",[\nUni/basic\n],[\nBianco Ibis\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...","[\nVetri laterali post. e lunotto oscurati, Vo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5121,Audi A3,Sportback 30 TDI S tronic Business,Sedans,26499,VAT deductible,- km,02/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n201900517-11019909\n],"[\n, 2019, \n]","[\n, Black, \n]",[\nUni/basic\n],[\nNero Brillante\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]",NaN,"[[], [], []]",NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...",[\nPacchetto luci interne (illum. interna man....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5209,Audi A3,"Sportback 35 TFSI S-tronic,6d TEMP",Sedans,25900,VAT deductible,- km,-/-,1 previous owner,NaN,110 kW,"[, New, , Super E10 95]",\n1\n,"[\n11/2021\n, \n117 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20306\n],NaN,NaN,[\nMetallic\n],[\nKosmosblau Metallic\n],[\nBlue\n],"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLL\n],"[\n, Automatic, \n]","[\n1,498 cc\n]",[\n4\n],"[\n1,345 kg\n]",NaN,"[\n, Super E10 95, \n]","[[5.2 l/100 km (comb)], [6.4 l/100 km (city)],...",[\n117 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n7\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5293,Audi A3,Sportback 30 TDI Business S-Tronic Euro 6d TEMP,Sedans,24200,VAT deductible,- km,-/-,1 previous owner,NaN,110 kW,"[, New, , Diesel (Particulate Filter)]",\n1\n,"[\n11/2021\n, \n105 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20353\n],NaN,"[\n, White, \n]",[\nMetallic\n],[\nGletscherweiß Metallic\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,385 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.3 l/100 km (city)], [...",[\n105 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung, Sonderaus...",[\n4 (Green)\n],[\n7\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5409,Audi A3,Sportback A3 SPB 30 TDI Business,Sedans,24900,None,- km,03/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n24142-19927350\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nGrigio Monsone Metallizzato\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.4 l/100 km (comb)], [5 l/100 km (city)], [...",[\n114 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...",[\nEstensione della garanzia 1 anno max. 60.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5416,Audi A3,Sportback A3 SPB 30 TDI Business,Sedans,24900,None,- km,03/2019,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n24143-19927349\n],"[\n, 2019, \n]","[\n, White, \n]",[\nMetallic\n],[\nBianco Ghiacciaio Metallizzato\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.4 l/100 km (comb)], [5 l/100 km (city)], [...",[\n114 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...",[Bluetooth],[Alloy wheels],"[ABS, Central door lock, Central door lock wit...",[\nEstensione della garanzia 1 anno max. 60.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5505,Audi A3,"Sportback 30 TDI Business,Navi,6d TEMP",Sedans,23900,VAT deductible,- km,-/-,1 previous owner,NaN,85 kW,"[, New, , Diesel (Particulate Filter)]",\n1\n,"[\n11/2021\n, \n118 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20311\n],NaN,"[\n, Grey, \n]",[\nMetallic\n],[\nNanograu Metallic\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Manual, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,365 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[4.5 l/100 km (comb)], [5.2 l/100 km (city)],...",[\n118 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]",[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
5548,Audi A3,"Sportback 30 TDI Business,6d TEMP",Sedans,22900,VAT deductible,- km,-/-,1 previous owner,NaN,85 kW,"[, New, , Diesel (Particulate Filter)]",\n1\n,"[\n11/2021\n, \n118 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\nS20310\n],NaN,"[\n, Black, \n]",NaN,[\nBrillantschwarz\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLH\n],"[\n, Manual, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,365 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[4.5 l/100 km (comb)], [5.2 l/100 km (city)],...",[\n118 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[CD player, MP3, On-board computer, Radio]",[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...","[\n, EU-Neuwagen mit Tageszulassung 30.11.2018...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
7617,Opel Astra,K Sports Tourer 120Jahre S/ S EU6d-T AGR*LEDMa...,Station wagon,29990,VAT deductible,- km,05/2019,1 previous owner,NaN,110 kW,"[, Pre-registered, , Super E10 95]",\n1\n,"[\n05/2022\n, \n134 g CO2/km (comb)\n]",NaN,NaN,"[\n, \n, \nEuro 6d-TEMP\n]","[\n, \n, \n4 (Green)\n]",[],\nOpel\n,"[\n, Astra, \n]",[\nHA026977\n],"[\n, 2019, \n]","[\n, Blue, \n]",[\nMetallic\n],[\ntiefsee blau\n],"[\nCloth, Black\n]","[\n, Station wagon, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,399 cc\n]",[\n4\n],"[\n1,350 kg\n]",[\nfront\n],"[\n, Super E10 95, \n]","[[5.8 l/100 km (comb)], [7.4 l/100 km (city)],...",[\n134 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Catalytic Converter, Roof rack,...","[ABS, Adaptive headlights, Central door lock, ...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
7622,Opel Astra,"Sports Tourer,Navi,Automatik,Ergositz",Coupe,29990,VAT deductible,- km,05/2019,1 previous owner,NaN,110 kW,"[, Demonstration, , Super 95]",\n1\n,"[\n05/2022\n, \n134 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN,[],\nOpel\n,"[\n, Astra, \n]",[\n53010225\n],"[\n, 2019, \n]","[\n, Blue, \n]",[\nMetallic\n],[\ntiefsee blau (metallic)\n],"[\nCloth, Other\n]","[\n, Coupe, \n]",[\n5\n],NaN,NaN,"[\n, Automatic, \n]","[\n1,399 cc\n]",[\n4\n],"[\n1,350 kg\n]",NaN,"[\n, Super 95, \n]","[[5.8 l/100 km (comb)], [7.4 l/100 km (city)],...",[\n134 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, USB]",[Catalytic Converter],"[ABS, Adaptive headlights, Central door lock, ...","[\n, Getriebe:, Automatik, Technik:, Start-S...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
7662,Opel Astra,K 1.4T Sports Tourer 120 Jahre LED NaviPDCv+h,Station wagon,33095,VAT deductible,- km,05/2019,1 previous owner,NaN,110 kW,"[, Demonstration, , Super 95]",\n1\n,"[\n05/2022\n, \n128 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6d-TEMP\n]",NaN,NaN,[],\nOpel\n,"[\n, Astra, \n]",[\n50042818\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nquarz grau\n],"[\nCloth, Black\n]","[\n, Station wagon, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,399 cc\n]",[\n4\n],"[\n1,350 kg\n]",NaN,"[\n, Super 95, \n]","[[5.6 l/100 km (comb)], [7.3 l/100 km (city)],...",[\n128 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Catalytic Converter, Touch screen]","[ABS, Adaptive Cruise Control, Central door lo...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",[\n4 (Green)\n],[\n6\n],[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
9162,Opel Corsa,1.3 CDTI N-JOY,Coupe,8800,None,- km,07/2019,1 previous owner,NaN,55 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n12 months\n, \n101 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",[],\nOpel\n,"[\n, Corsa, \n]",[\n11669252\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nUni/basic\n],[\nAntracite\n],NaN,"[\n, Coupe, \n]",[\n3\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,248 cc\n]",[\n4\n],"[\n1,199 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n101 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Multi-funct...","[Bluetooth, CD player, Hands-free equipment, M...",NaN,"[ABS, Central door lock, Central door lock wit...","[\n, OCCASIONE OPEL CORSA 3P. 1.3 75cv ADATTA ...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
9867,Opel Corsa,"1,4 Ecotec Edition",Sedans,9990,VAT deductible,- km,05/2019,1 previous owner,NaN,55 kW,"[, Demonstration, , Gasoline]",\n1\n,NaN,NaN,"[\n, \n, \nEuro 6\n]",NaN,NaN,[],\nOpel\n,"[\n, Corsa, \n]",[\n3214172\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,[\nSchnee Weiß (SL)\n],[\nCloth\n],"[\n, Sedans, \n]",[\n3\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,398 cc\n]",NaN,NaN,[\nfront\n],"[\n, Gasoline, \n]",NaN,"[[], [], []]",[\nEuro 6\n],"[Air conditioning, Electrical side mirrors, Le...","[Bluetooth, CD player, Radio]",NaN,"[ABS, Central door lock, Daytime running light...","[\nElektr. Bremskraftverteilung, Kindersitzbef...",NaN,[\n5\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df.km=df.km.str.replace(' km','')

In [124]:
df.km

0        56,013
1        80,000
2        83,450
3        73,000
4        16,200
          ...
15914         -
15915     9,900
15916        15
15917        10
15918         -
Name: km, Length: 15919, dtype: object

In [125]:
df.km=df.km.str.replace(',','')

In [126]:
df.km

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km, Length: 15919, dtype: object

In [127]:
df.loc[(df["km"] == "- km") & (df["prev_owner"] == '1 previous owner') & (df.description.str.contains('km',regex=True) )]['description']

Series([], Name: description, dtype: object)

In [128]:
df.description.str.contains(',',regex=False).value_counts() ## we looked in description if contains km data

False    15874
True        45
Name: description, dtype: int64

In [154]:
df.loc[(df["km"] == "- km") & (df["prev_owner"] == '1 previous owner') & (df.description.str.contains('km',regex=True) )]['description']

Series([], Name: description, dtype: object)

In [130]:
df.loc[df.km.str.contains(',')]

Empty DataFrame
Columns: [make_model, short_description, body_type, price, vat, km, registration, prev_owner, kW, hp, Type, Previous Owners, Next Inspection, Inspection new, Warranty, Full Service, Non-smoking Vehicle, null, Make, Model, Offer Number, First Registration, Body Color, Paint Type, Body Color Original, Upholstery, Body, Nr. of Doors, Nr. of Seats, Model Code, Gearing Type, Displacement, Cylinders, Weight, Drive chain, Fuel, Consumption, CO2 Emission, Emission Class,
Comfort & Convenience
,
Entertainment & Media
,
Extras
,
Safety & Security
, description, Emission Label, Gears, Country version, Electricity consumption, Last Service Date, Other Fuel Types, Availability, Last Timing Belt Service Date, Available from]
Index: []

##8.registration

In [138]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [139]:
df[['registration','First Registration','km']].sample(10) ## 'First Registration' silinebilir

      registration First Registration      km
2267           -/-                NaN       -
5295       02/2019     [\n, 2019, \n]       -
8177       01/2019     [\n, 2019, \n]       3
3001       02/2017     [\n, 2017, \n]  101287
327        03/2017     [\n, 2017, \n]   78000
13911      02/2017     [\n, 2017, \n]   35132
1285       12/2017     [\n, 2017, \n]   22627
12549      02/2019     [\n, 2019, \n]    5000
6812       01/2017     [\n, 2017, \n]   46100
6418       02/2017     [\n, 2017, \n]   65000

In [ ]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Country version', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [140]:
df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')][['registration','km','prev_owner']]  
### buradaki -/- leri NaN yapacağız, sütundaki diğer -/- leri ise 2020 yaparak kayıt olmamış kategori vereceğiz

      registration     km        prev_owner
892            -/-   3000  1 previous owner
1188           -/-   3000  1 previous owner
2395           -/-  11200  1 previous owner
4993           -/-      -  1 previous owner
4994           -/-      -  1 previous owner
4995           -/-      -  1 previous owner
5209           -/-      -  1 previous owner
5293           -/-      -  1 previous owner
5494           -/-     10  1 previous owner
5505           -/-      -  1 previous owner
5548           -/-      -  1 previous owner
6237           -/-  85000  1 previous owner
7653           -/-      5  1 previous owner
11117          -/-  89982  1 previous owner
12402          -/-     10  1 previous owner
12493          -/-     10  1 previous owner
12649          -/-   6100  1 previous owner
12806          -/-     10  1 previous owner
13148          -/-   3500  1 previous owner
15826          -/-   4307  1 previous owner
15896          -/-   5000  1 previous owner

In [141]:
df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"] = df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"].replace(to_replace = ['-/-'],value= np.nan,inplace =True)
df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"]

892      -/-
1188     -/-
2395     -/-
4993     -/-
4994     -/-
4995     -/-
5209     -/-
5293     -/-
5494     -/-
5505     -/-
5548     -/-
6237     -/-
7653     -/-
11117    -/-
12402    -/-
12493    -/-
12649    -/-
12806    -/-
13148    -/-
15826    -/-
15896    -/-
Name: registration, dtype: object

In [142]:
 df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"].replace('-/-',value= np.nan)

892     NaN
1188    NaN
2395    NaN
4993    NaN
4994    NaN
4995    NaN
5209    NaN
5293    NaN
5494    NaN
5505    NaN
5548    NaN
6237    NaN
7653    NaN
11117   NaN
12402   NaN
12493   NaN
12649   NaN
12806   NaN
13148   NaN
15826   NaN
15896   NaN
Name: registration, dtype: float64

In [143]:
df.registration.iloc[892]

'-/-'

In [ ]:
df.registration.apply(lambda x: np.NaN if (x =='-/-') and (df['prev_owner']=='1 previous owner') else x )

In [145]:
 df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"].apply(lambda x: np.NaN if x =='-/-' else x)

892     NaN
1188    NaN
2395    NaN
4993    NaN
4994    NaN
4995    NaN
5209    NaN
5293    NaN
5494    NaN
5505    NaN
5548    NaN
6237    NaN
7653    NaN
11117   NaN
12402   NaN
12493   NaN
12649   NaN
12806   NaN
13148   NaN
15826   NaN
15896   NaN
Name: registration, dtype: float64

In [147]:
 df.loc[(df["registration"] == "-/-") & (df['prev_owner']=='1 previous owner')]["registration"]

892      -/-
1188     -/-
2395     -/-
4993     -/-
4994     -/-
4995     -/-
5209     -/-
5293     -/-
5494     -/-
5505     -/-
5548     -/-
6237     -/-
7653     -/-
11117    -/-
12402    -/-
12493    -/-
12649    -/-
12806    -/-
13148    -/-
15826    -/-
15896    -/-
Name: registration, dtype: object

##9.prev_owner

In [148]:
df.prev_owner.value_counts(dropna=False)  ## has nearly same values with 'Previous Owners', so 'Previous Owners' can be dropped

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [149]:
df.prev_owner.sample(5)

10655    1 previous owner
14329    1 previous owner
14700                None
10318    1 previous owner
6092     1 previous owner
Name: prev_owner, dtype: object

In [150]:
df[['prev_owner','Previous Owners']].sample(10)

             prev_owner Previous Owners
12572              None             NaN
4570   1 previous owner           \n1\n
5923   1 previous owner           \n1\n
7909               None             NaN
10612  1 previous owner           \n1\n
14066  1 previous owner           \n1\n
11512  1 previous owner           \n1\n
2476               None             NaN
12665              None             NaN
12686              None             NaN

##10.kW

In [ ]:
df.kW.value_counts(dropna=False)  ##empty, so drop

In [152]:
df.drop('kW', axis=1,inplace = True)

##11.hp_kW

In [153]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [156]:
df.hp=df.hp.str.replace(' kW','')

In [157]:
df['hp_kW']=df.hp

In [158]:
df.drop('hp', axis=1,inplace = True)

In [ ]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Country version', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from', 'hp_kW'],
      dtype='object')

In [159]:
df.hp_kW.value_counts(dropna=False)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
84        1
195       1
44        1
239       1
9         1
Name: hp_kW, Length: 81, dtype: int64

In [160]:
df.hp_kW.isna().sum()

0

##12.Type

In [161]:
df.Type.value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 170, dtype: int64

In [162]:
df["Type"]=[item[1] if type (item)==list else item for item in df ["Type"]]

In [163]:
df["Type"].sample(10)

3052               Used
4143               Used
7181     Employee's car
9047     Employee's car
6049               Used
4662               Used
2482               Used
1122               Used
8994               Used
13554    Employee's car
Name: Type, dtype: object

In [164]:
df['Type'].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [165]:
df['usage_status']=df['Type']

In [166]:
df['usage_status'].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: usage_status, dtype: int64

In [167]:
df.drop('Type', axis=1,inplace = True)

##13.'Previous Owners'

In [168]:
df['Previous Owners'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

In [169]:
df.drop('Previous Owners', axis=1,inplace = True)

##14.Next Inspection

In [170]:
df['Next Inspection'].value_counts(dropna=False) ## Next Inspection and Inspection new has 12384 nan values and no effect is expected to the price, so drop!

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: Next Inspection, Length: 1400, dtype: int64

In [171]:
df['Next Inspection'].sample(15)

1228                                        NaN
12632                                       NaN
11896              [\n05/2019\n, \n4 (Green)\n]
5475                                        NaN
3054                                        NaN
7711                                        NaN
5824     [\n06/2021\n, \n119 g CO2/km (comb)\n]
12089                                       NaN
10359                                       NaN
9230     [\n05/2021\n, \n124 g CO2/km (comb)\n]
11049                                       NaN
6132     [\n05/2021\n, \n154 g CO2/km (comb)\n]
6232                                        NaN
1205                                        NaN
12490                                       NaN
Name: Next Inspection, dtype: object

In [175]:
df['Next Inspection'].isna().sum()

12384

In [176]:
df.drop('Next Inspection', axis=1,inplace = True)

##15.Inspection new

In [ ]:
df['Inspection new'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]            1
[\nYes\n, \n, 6.8 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 6.1 l/100 km (country), \n]        1
[\nYes\n, \n, 4.1 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                                 1
Name: Inspection new, Length: 203, dtype: int64

In [ ]:
df['Inspection new'].sample(15)

8348                                \nYes\n
15271                                   NaN
176                                     NaN
14662    [\nYes\n, \n118 g CO2/km (comb)\n]
10621                                   NaN
2138                                    NaN
3477                                    NaN
5960     [\nYes\n, \n122 g CO2/km (comb)\n]
395                                     NaN
898                                     NaN
9139                                    NaN
344                                     NaN
987                                     NaN
14602                                   NaN
11490                 [\nYes\n, \nEuro 6\n]
Name: Inspection new, dtype: object

In [177]:
df.drop('Inspection new', axis=1,inplace = True)

##16.Warranty

In [ ]:
df['Warranty'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 516, dtype: int64

In [ ]:
df['Warranty'].sample(15)

7476               [\n12 months\n, \n95 g CO2/km (comb)\n]
10150                                        \n24 months\n
5929     [\n60 months\n, \n, 4.3 l/100 km (comb), \n, 5...
5386                                  [\n, \n, \nEuro 6\n]
7250                                  [\n, \n, \nEuro 6\n]
4529                                                   NaN
4610              [\n12 months\n, \n117 g CO2/km (comb)\n]
8378                                                   NaN
3066                                         \n12 months\n
2382                                                    \n
9169              [\n24 months\n, \n120 g CO2/km (comb)\n]
7379              [\n24 months\n, \n146 g CO2/km (comb)\n]
9716                                                   NaN
4365               [\n12 months\n, \n99 g CO2/km (comb)\n]
7814                     [\n, \n, \n134 g CO2/km (comb)\n]
Name: Warranty, dtype: object

In [178]:
df["Warranty"]=[item[0] if type (item)==list else item for item in df ["Warranty"]]

In [179]:
df['Warranty'].sample(15)

9663                \n
12361               \n
14017               \n
11412    \n36 months\n
15096    \n36 months\n
12444              NaN
6634     \n60 months\n
1662                \n
3423               NaN
4452               NaN
2599     \n24 months\n
11567               \n
15716               \n
11989    \n12 months\n
2853     \n36 months\n
Name: Warranty, dtype: object

In [180]:
df['Warranty'].value_counts(dropna=False)

\n               5645
NaN              5420
\n12 months\n    2594
\n24 months\n    1118
\n60 months\n     401
\n36 months\n     279
\n48 months\n     149
\n6 months\n      125
\n72 months\n      59
\n3 months\n       33
\n23 months\n      11
\n18 months\n      10
\n20 months\n       7
\n25 months\n       6
\n2 months\n        5
\n50 months\n       4
\n26 months\n       4
\n16 months\n       4
\n1 months\n        3
\n19 months\n       3
\n4 months\n        3
\n34 months\n       3
\n13 months\n       3
\n17 months\n       2
\n45 months\n       2
\n9 months\n        2
\n21 months\n       2
\n14 months\n       2
\n28 months\n       2
\n11 months\n       2
\n22 months\n       2
\n46 months\n       2
\n10 months\n       1
\n8 months\n        1
\n7 months\n        1
\n15 months\n       1
                    1
\n56 months\n       1
\n49 months\n       1
\n65 months\n       1
\n47 months\n       1
\n33 months\n       1
\n40 months\n       1
\n30 months\n       1
Name: Warranty, dtype: int64

In [181]:
df['warranty_month']=df.Warranty.str.lstrip("\n").str.rstrip(" months\n")
df['warranty_month']

0
1        NaN
2
3        NaN
4
        ...
15914     24
15915
15916
15917
15918    NaN
Name: warranty_month, Length: 15919, dtype: object

In [183]:
df['warranty_month'].value_counts()

      5646
12    2594
24    1118
60     401
36     279
48     149
6      125
72      59
3       33
23      11
18      10
20       7
25       6
2        5
50       4
26       4
16       4
4        3
1        3
19       3
34       3
13       3
28       2
22       2
14       2
11       2
46       2
21       2
9        2
17       2
45       2
33       1
40       1
65       1
10       1
15       1
7        1
8        1
56       1
49       1
47       1
30       1
Name: warranty_month, dtype: int64

In [184]:
df['warranty_month']=df['warranty_month'].replace('',value= np.nan)

In [185]:
df['warranty_month'].value_counts(dropna=False)

NaN    11066
12      2594
24      1118
60       401
36       279
48       149
6        125
72        59
3         33
23        11
18        10
20         7
25         6
2          5
50         4
26         4
16         4
4          3
1          3
19         3
34         3
13         3
28         2
22         2
14         2
11         2
46         2
21         2
9          2
17         2
45         2
33         1
40         1
65         1
10         1
15         1
7          1
8          1
56         1
49         1
47         1
30         1
Name: warranty_month, dtype: int64

##17.Full Service

In [186]:
df['Full Service'].value_counts(dropna=False) ##   Will not be used. Maybe it can be used for missing value

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: Full Service, Length: 123, dtype: int64

In [187]:
df['Full Service'].sample(15)

12500                                  NaN
10870                             [\n, \n]
11616                                  NaN
4129                                   NaN
2233          [\n, \n, \n1 (No sticker)\n]
4785                  [\n, \n, \nEuro 6\n]
9882                                   NaN
6888      [\n, \n, \n97 g CO2/km (comb)\n]
2223                              [\n, \n]
11968                             [\n, \n]
14282                                  NaN
12856    [\n, \n, \n126 g CO2/km (comb)\n]
15896                                  NaN
2865                                   NaN
6001               [\n, \n, \n4 (Green)\n]
Name: Full Service, dtype: object

In [188]:
df.drop('Full Service', axis=1,inplace = True)

In [ ]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from',
       'usage_status', 'warranty_month'],
      dtype='object')

##18.Non-smoking Vehicle

In [189]:
df['Non-smoking Vehicle'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
                                                                                              ...
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, Length: 95, dtype: int64

In [190]:
df.drop('Non-smoking Vehicle', axis=1,inplace = True)  ##empty, so drop

##19.null

In [ ]:
df['null'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [191]:
df.drop('null', axis=1,inplace = True)

##20.Make

In [ ]:
df['Make'].value_counts(dropna=False) # same value as makemodel so drop

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [192]:
df.drop('Make', axis=1,inplace = True)

##21.Model

In [ ]:
df['Model'].value_counts(dropna=False)  # same value as makemodel so drop

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [193]:
df.drop('Model', axis=1,inplace = True)

##22.Offer Number

In [ ]:
df['Offer Number'].value_counts(dropna=False) # not sure offer number means so leave it

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [194]:
df.drop('Offer Number', axis=1,inplace = True)

##22.First Registration

In [198]:
df['First Registration'].value_counts(dropna=False) ## !!!!!!!!!!!!!!!!!!!   data bozuldu tekrar yüklenecek aşağıdaki kod yanlış

\n     14322
NaN     1597
Name: First Registration, dtype: int64

In [195]:
df["First Registration"]=[item[0] if type (item)==list else item for item in df ["First Registration"]]

In [196]:
df['first_registration']=df['First Registration'].str.lstrip("\n, ").str.rstrip(", \n")
df['first_registration']

0
1
2
3
4
        ...
15914    NaN
15915
15916
15917
15918
Name: first_registration, Length: 15919, dtype: object

In [197]:
df['first_registration'].value_counts(dropna=False)

       14322
NaN     1597
Name: first_registration, dtype: int64

##23.Body Color

In [ ]:
df['Body Color'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [199]:
df["Body Color"]=[item[1] if type (item)==list else item for item in df ["Body Color"]]

In [200]:
df['Body Color'].value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [201]:
df['body_color']=df['Body Color']

In [202]:
df.drop('Body Color', axis=1,inplace = True)

##24.Paint Type

In [ ]:
df['Paint Type'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [203]:
df["Paint Type"]=[item[0] if type (item)==list else item for item in df ["Paint Type"]]

In [204]:
df['Paint Type'].value_counts(dropna=False)

\nMetallic\n       9794
NaN                5772
\nUni/basic\n       347
\nPerl effect\n       6
Name: Paint Type, dtype: int64

In [205]:
df['paint_type']=df['Paint Type'].str.lstrip("\n").str.rstrip("\n")
df['paint_type']

0        Metallic
1             NaN
2        Metallic
3        Metallic
4        Metallic
           ...
15914    Metallic
15915    Metallic
15916         NaN
15917         NaN
15918    Metallic
Name: paint_type, Length: 15919, dtype: object

In [206]:
df['paint_type'].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [207]:
df.drop('Paint Type', axis=1,inplace = True)

##25.Body Color Original

In [ ]:
df['Body Color Original'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: Body Color Original, Length: 1928, dtype: int64

In [ ]:
df[['Body Color Original','body_color']].sample(15) ## body color is more usefull so drop the Body Color Original!

                       Body Color Original body_color
9658                     [\nTiefseeblau\n]       Blue
836             [\nMisanorot Perleffekt\n]        Red
7093                      [\nquarz grau\n]       Grey
7520                     [\nIndigo Blau\n]       Blue
3891                     [\nvari colori\n]      Black
2388                      [\nPythongelb\n]     Yellow
9909       [\nMineral black (zwart meta\n]      Black
9267                          [\nGrigio\n]       Grey
3442                                   NaN     Silver
14794                    [\nVari colori\n]     Silver
2708   [\nMythosschwarz Metallic (zwart\n]      Black
11067                                  NaN     Silver
2694         [\nGletscherweiss Metallic\n]      White
4370               [\nNanograu Metallic\n]       Grey
9673                       [\nLichtgrau\n]       Grey

In [208]:
df.drop('Body Color Original', axis=1,inplace = True)

##26.Upholstery

In [ ]:
df['Upholstery'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [209]:
df["Upholstery"]=[item[0] if type (item)==list else item for item in df ["Upholstery"]]

In [210]:
df['Upholstery'].value_counts(dropna=False)

\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nFull leather, Brown\n     116
\nPart leather, Grey\n      116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nVelour, Black\n            36
\nFull leather, Beige\n      36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nVelour, Grey\n              8
\nCloth, White\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nPart leather, Red\n         3
\nBeige\n                     3
\nPart leather, White\n       2
\nFull leather, Blue\n        2
\nalcantara, Other\n          2
\nalcantara\n                 2
\nWhite\n                     2
\nPart leather, Beige\n       2
\nBlue\n                      2
\nCloth, Orange\n             1
\nFull leather, Red\n         1
\nOther, Brown\n              1
\nFull leather, White\n       1
Name: Upholstery, dtype: int64

In [211]:
df['upholstery']=df.Upholstery.str.lstrip("\n").str.rstrip(",$")
df['upholstery']

0               Cloth, Black\n
1                Cloth, Grey\n
2               Cloth, Black\n
3                          NaN
4               Cloth, Black\n
                 ...
15914                      NaN
15915                  Cloth\n
15916    Full leather, Black\n
15917           Part leather\n
15918    Full leather, Brown\n
Name: upholstery, Length: 15919, dtype: object

In [212]:
df['upholstery']=df['upholstery'].str.split(',').str[0]
df['upholstery']

0                 Cloth
1                 Cloth
2                 Cloth
3                   NaN
4                 Cloth
              ...
15914               NaN
15915           Cloth\n
15916      Full leather
15917    Part leather\n
15918      Full leather
Name: upholstery, Length: 15919, dtype: object

In [213]:
df['upholstery']=df.upholstery.str.lstrip("\n").str.rstrip("\n")
df['upholstery']

0               Cloth
1               Cloth
2               Cloth
3                 NaN
4               Cloth
             ...
15914             NaN
15915           Cloth
15916    Full leather
15917    Part leather
15918    Full leather
Name: upholstery, Length: 15919, dtype: object

In [214]:
df['upholstery'].value_counts()

Cloth           8423
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: upholstery, dtype: int64

In [215]:
upholster=["Full leather","Cloth", "Part leather", "alcantara", "Velour"]
def upholstertype(x):
    if x in upholster:
      return x
    else:
      return 'other'  

df['upholstery']=df.upholstery.apply(upholstertype)
df['upholstery'].value_counts()

Cloth           8423
other           4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: upholstery, dtype: int64

In [216]:
df['upholstery'].value_counts(dropna=False)

Cloth           8423
other           4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: upholstery, dtype: int64

##27.Body

In [ ]:
df['Body'].value_counts(dropna=False) ## same with body type so drop

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [217]:
df.drop('Body', axis=1,inplace = True)

##28.Nr. of Doors

In [ ]:
df['Nr. of Doors'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: Nr. of Doors, dtype: int64

In [218]:
df['nr_of_doors']=df['Nr. of Doors'].astype(str).str.extract("(\d)")
df['nr_of_doors'].value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: nr_of_doors, dtype: int64

##29.Nr. of Seats

In [219]:
df['Nr. of Seats'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [220]:
df['nr_of_seats']=df['Nr. of Seats'].astype(str).str.extract("(\d)")
df['nr_of_seats'].value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: nr_of_seats, dtype: int64

##30.Model Code

In [ ]:
df['Model Code'].value_counts(dropna=False) ## body ya da diğer nan value ların karşılaştırılarak bulunması için kullanılabilir

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/AVN\n]        1
[\n0035/BEM\n]        1
[\n0035/BAG\n]        1
[\n0035/BAA\n]        1
[\n3333/BKG\n]        1
Name: Model Code, Length: 233, dtype: int64

In [221]:
df["Model Code"]=[item[0] if type (item)==list else item for item in df ["Model Code"]]

In [222]:
df['model_code']=df['Model Code'].str.lstrip("\n").str.rstrip("\n")
df['model_code']

0        0588/BDF
1        0588/BCY
2             NaN
3             NaN
4        0588/BDF
           ...
15914         NaN
15915    0000/000
15916         NaN
15917         NaN
15918    3333/BHJ
Name: model_code, Length: 15919, dtype: object

In [223]:
df['model_code'].value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: model_code, Length: 233, dtype: int64

##31.Gearing Type

In [ ]:
df['Gearing Type'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [224]:
df['gearing_type'] = df['Gearing Type'].str[1]

In [225]:
df['gearing_type'].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

##32.Displacement

In [7]:
df['Displacement'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: Displacement, Length: 78, dtype: int64

In [226]:
df["Displacement"]=[item[0] if type (item)==list else item for item in df ["Displacement"]]

In [228]:
df['displacement_cc']=df['Displacement'].str.lstrip("\n").str.rstrip(" cc\n")
df['displacement_cc']

0        1,422
1        1,798
2        1,598
3        1,422
4        1,422
         ...
15914    1,997
15915    1,798
15916    1,997
15917    1,997
15918    1,798
Name: displacement_cc, Length: 15919, dtype: object

In [229]:
df.displacement_cc=df.displacement_cc.str.replace(',','')

In [230]:
df['displacement_cc'].value_counts(dropna=False)

1598    4761
999     2438
1398    1314
1399     749
1229     677
        ...
122        1
1198       1
1195       1
2967       1
1800       1
Name: displacement_cc, Length: 78, dtype: int64

In [231]:
df.drop('Displacement', axis=1,inplace = True)

##33.Cylinders

In [15]:
df['Cylinders'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [232]:
df['cylinders']=df['Cylinders'].astype(str).str.extract("(\d)")

In [233]:
df['cylinders'].value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: cylinders, dtype: int64

##34.Weight

In [20]:
df['Weight'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [234]:
df["Weight"]=[item[0] if type (item)==list else item for item in df ["Weight"]]

In [235]:
df['weight']=df['Weight'].str.lstrip("\n").str.rstrip(" kg\n")
df['weight']

0        1,220
1        1,255
2          NaN
3        1,195
4          NaN
         ...
15914    1,758
15915    1,708
15916      NaN
15917    1,758
15918    1,685
Name: weight, Length: 15919, dtype: object

In [236]:
df.weight=df.weight.str.replace(',','')

In [237]:
df['weight'].value_counts(dropna=False)

NaN     6974
1163     574
1360     356
1165     301
1335     242
        ...
1960       1
1258       1
1167       1
1331       1
2037       1
Name: weight, Length: 435, dtype: int64

In [238]:
df.drop('Weight', axis=1,inplace = True)

##35.Drive chain

In [28]:
df['Drive chain'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [239]:
df["Drive chain"]=[item[0] if type (item)==list else item for item in df ["Drive chain"]]

In [240]:
df['drive_chain']=df['Drive chain'].str.lstrip("\n").str.rstrip("\n")
df['drive_chain']

0        front
1        front
2        front
3          NaN
4        front
         ...
15914    front
15915    front
15916    front
15917    front
15918      4WD
Name: drive_chain, Length: 15919, dtype: object

In [241]:
df['drive_chain'].value_counts(dropna=False) ### use dummy

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

##36.Fuel

In [18]:
df['Fuel'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: Fuel, Length: 77, dtype: int64

In [249]:
df.Fuel.sample(10)

7591     Benzine
6635     Benzine
10982     Diesel
13867     Diesel
12882     Diesel
353      Benzine
10689     Diesel
10738     Diesel
12587    Benzine
13984     Diesel
Name: Fuel, dtype: object

In [242]:
df["Fuel"]=[item[1] if type (item)==list else item for item in df ["Fuel"]]

In [248]:
df.Fuel.sample(10)

12041    Benzine
1537     Benzine
8620     Benzine
8744      Diesel
15244     Diesel
3719      Diesel
7212     Benzine
12818     Diesel
10955     Diesel
4401      Diesel
Name: Fuel, dtype: object

In [245]:
type(df.Fuel[1])

str

In [32]:
df.Fuel.astype(str)

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15919, dtype: object

In [244]:
df.Fuel[1].contains('Super', regex=False)

AttributeError: ignored

In [246]:
benzine=["Gasoline", 'Super 95 / Super Plus 98','Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98','Regular/Benzine 91', 'Super 95 / Super E10 95','Regular/Benzine 91 (Particulate Filter)','Gasoline (Particulate Filter)', "Super 95", "Regular",'Super 95 (Particulate Filter)','Super 95 / Regular/Benzine 91', "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
lpg = ['LPG', 'liquid petroleum gas', 'CNG', 'Biogas', 'Domestic gas H','Liquid petroleum gas (LPG)','CNG (Particulate Filter)']
diesel =['Diesel','Diesel (Particulate Filter)']
def fueltype(x):
    if x in benzine:
      return "Benzine"
    elif x in lpg:
      return "LPG/CNG"
    elif x in diesel:
      return "Diesel"  
    else:
      return "Benzine"
df['Fuel']=df.Fuel.apply(fueltype)

In [247]:
df['Fuel'].value_counts(dropna=False)

Benzine    8620
Diesel     7299
Name: Fuel, dtype: int64

In [72]:
df.Fuel.astype('str')

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15919, dtype: object

In [60]:
df.Fuel.sample(10)

10456                          Benzine
12970    Super 95 (Particulate Filter)
8208                           Benzine
9768                           Benzine
5910                            Diesel
1563                           Benzine
5493                           Benzine
14192                           Diesel
14267                          Benzine
938                             Diesel
Name: Fuel, dtype: object

In [89]:
df['Fuel'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: Fuel, Length: 77, dtype: int64

##36.Consumption

In [94]:
df['Consumption'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: Consumption, Length: 882, dtype: int64

In [113]:
df['consumption_comb']=df['Consumption'].str[0]

In [114]:
df['consumption_comb']

0        [3.8 l/100 km (comb)]
1        [5.6 l/100 km (comb)]
2        [3.8 l/100 km (comb)]
3        [3.8 l/100 km (comb)]
4        [4.1 l/100 km (comb)]
                 ...
15914    [5.3 l/100 km (comb)]
15915                       \n
15916    [5.3 l/100 km (comb)]
15917    [5.3 l/100 km (comb)]
15918    [6.8 l/100 km (comb)]
Name: consumption_comb, Length: 15919, dtype: object

In [115]:
df['consumption_comb']=df['consumption_comb'].astype(str).str.extract("(\d\d|\d.\d|\d)")
df['consumption_comb']

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    NaN
15916    5.3
15917    5.3
15918    6.8
Name: consumption_comb, Length: 15919, dtype: object

In [116]:
df['consumption_city']=df['Consumption'].str[1]

In [117]:
df['consumption_city']

0        [4.3 l/100 km (city)]
1        [7.1 l/100 km (city)]
2        [4.4 l/100 km (city)]
3        [4.3 l/100 km (city)]
4        [4.6 l/100 km (city)]
                 ...
15914    [6.2 l/100 km (city)]
15915      7.4 l/100 km (comb)
15916    [6.2 l/100 km (city)]
15917    [6.2 l/100 km (city)]
15918    [8.7 l/100 km (city)]
Name: consumption_city, Length: 15919, dtype: object

In [118]:
df['consumption_city']=df['consumption_city'].astype(str).str.extract("(\d\d|\d.\d|\d)")
df['consumption_city']

0        4.3
1        7.1
2        4.4
3        4.3
4        4.6
        ...
15914    6.2
15915    7.4
15916    6.2
15917    6.2
15918    8.7
Name: consumption_city, Length: 15919, dtype: object

In [119]:
df['consumption_country']=df['Consumption'].str[0]

In [120]:
df['consumption_country']

0        [3.8 l/100 km (comb)]
1        [5.6 l/100 km (comb)]
2        [3.8 l/100 km (comb)]
3        [3.8 l/100 km (comb)]
4        [4.1 l/100 km (comb)]
                 ...
15914    [5.3 l/100 km (comb)]
15915                       \n
15916    [5.3 l/100 km (comb)]
15917    [5.3 l/100 km (comb)]
15918    [6.8 l/100 km (comb)]
Name: consumption_country, Length: 15919, dtype: object

In [121]:
df['consumption_country']=df['consumption_country'].astype(str).str.extract("(\d\d|\d.\d|\d)")
df['consumption_country']

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    NaN
15916    5.3
15917    5.3
15918    6.8
Name: consumption_country, Length: 15919, dtype: object

In [126]:
df['consumption_country']=df['consumption_country'].astype(float)

In [127]:
df['consumption_country'][0]

3.8

In [128]:
df['consumption_city']=df['consumption_city'].astype(float)

In [129]:
df['consumption_comb']=df['consumption_comb'].astype(float)

##37.CO2 Emission

In [131]:
df['CO2 Emission'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [133]:
df['CO2 Emission']=df['CO2 Emission'].astype(str).str.extract("(\d\d\d|\d,\d\d\d|\d\d|\d)")

df["CO2 Emission"].value_counts(dropna=False)

0         99
1        129
2         99
3         99
4        109
        ...
15914    139
15915    168
15916    139
15917    139
15918    153
Name: CO2 Emission, Length: 15919, dtype: object

In [142]:
df["CO2 Emission"].value_counts(dropna=False)

NaN      2436
120       740
99        545
97        537
104       501
         ...
190         1
253         1
990         1
1,060       1
193         1
Name: CO2 Emission, Length: 121, dtype: int64

In [141]:
df[df["CO2 Emission"] == '1,060' ]

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from,consumption_comb,consumption_city,consumption_country
4089,https://www.autoscout24.com//offers/audi-a3-a3...,Audi A3,A3 SPB 1.6 TDI 116 CV Sport,Sedans,19500,VAT deductible,"23,644 km",02/2018,None,NaN,85 kW,"[, Used, , Diesel]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",[\n2481069\n],"[\n, 2018, \n]","[\n, Blue, \n]",NaN,NaN,"[\nOther, Other\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],Diesel,"[[40 l/100 km (comb)], [45 l/100 km (city)], [...","1,060",NaN,NaN,"[Bluetooth, On-board computer]",NaN,"[ABS, Central door lock, Power steering, Tract...",[\nAudi A3 Sportback 1.6 TDI SPORT Climatizzat...,[\n1 (No sticker)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,45.0,40.0

In [143]:
df["CO2_emission"]=df["CO2 Emission"].replace(',','.')

##38.Emission Class

In [144]:
df["Emission Class"].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [145]:
df["Emission Class"]=[item[0] if type (item)==list else item for item in df ["Emission Class"]]

In [147]:
df['Emission Class']=df['Emission Class'].str.lstrip("\n").str.rstrip("\n")
df['Emission Class']

0              Euro 6
1              Euro 6
2              Euro 6
3              Euro 6
4              Euro 6
             ...
15914             NaN
15915             NaN
15916    Euro 6d-TEMP
15917          Euro 6
15918          Euro 6
Name: Emission Class, Length: 15919, dtype: object

In [148]:
df['Emission Class'].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

In [149]:
df['emission_class']=df['Emission Class']

##39.\nComfort & Convenience\n

In [150]:
df['\nComfort & Convenience\n'].value_counts(dropna=False) ## make dummy

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: \nComfort & Convenience\n, Length: 6199, dtype: int64

##40.\nEntertainment & Media\n

In [151]:
df['\nEntertainment & Media\n'].value_counts(dropna=False) ### dummy

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                           1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                                              1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                                          982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]                               783
[On-board computer, Radio]                                                                                     487
                                                                                                              ...
[Bluetooth, CD player, Digital radio, Hands-free equipment, Radio]                                               1
[CD player, Hands-free equipment, MP3, Radio, USB]                                                               1
[MP3, Radio, Sound system, USB]                                                                                  1
[Bluetooth, MP3, On-board computer, Radio, Television, USB]                                                      1
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB]       1
Name: \nEntertainment & Media\n, Length: 347, dtype: int64

##41.\nExtras\n

In [152]:
df['\nExtras\n'].value_counts(dropna=False) ### dummy

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                                     3245
NaN                                                                                                                2962
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: \nExtras\n, Length: 660, dtype: int64

##42.\nSafety & Security\n

In [153]:
df['\nSafety & Security\n'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                  982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                     1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                 1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]      1
Name: \nSafety & Security\n, Length: 4444, dtype: int64

##42.description

In [154]:
df['description'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

##43.Emission Label

In [155]:
df['Emission Label'].value_counts(dropna=False) ## 12k nan so leave it, look emission

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

##44.Gears

In [83]:
df['Gears'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: Gears, dtype: int64

In [92]:
df['Gears']=df['Gears'].astype(str).str.extract("(\d\d|\d.\d|\d)")

In [93]:
df['Gears'].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: Gears, dtype: int64

##45.Country version

In [86]:
df['Country version'].value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: Country version, dtype: int64

In [89]:
df["Country version"]=[item[0] if type (item)==list else item for item in df ["Country version"]]

In [90]:
df['country_version']=df['Country version'].str.lstrip("\n").str.rstrip("\n")
df['country_version']

0            NaN
1            NaN
2            NaN
3            NaN
4        Germany
          ...
15914        NaN
15915    Germany
15916    Austria
15917        NaN
15918    Germany
Name: country_version, Length: 15919, dtype: object

##46.Electricity consumption

In [94]:
df['Electricity consumption'].value_counts(dropna=False) ## drop

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                          15782
[\n0 kWh/100 km (comb)\n]      137
Name: Electricity consumption, dtype: int64

##47.Last Service Date, 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from',
       'usage_status', 'warranty_month', 'body_color'

In [97]:
df[['Last Service Date', 'Other Fuel Types','Availability', 'Last Timing Belt Service Date', 'Available from']]

KeyError: ignored

In [101]:
df.drop(['Electricity consumption','Last Service Date', 'Other Fuel Types','Availability', 'Last Timing Belt Service Date', 'Available from'], axis=1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],7,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,6,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,147 kW,"[, New, , Diesel (Particulate Filter)]",NaN,NaN,NaN,\n24 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n10988301\n],NaN,"[\n, Grey, \n]",[\nMetallic\n],[\nGrigio scuro\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\nVettura visionabile nella sede in Via Roma ...,NaN,6,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,165 kW,"[, Used, , Super 95 / Super Plus 98 (Particula...","[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...","[\n01/2022\n, \n168 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,"[\n, \n, \n4 (Green)\n]",[],\nRenault\n,"[\n, Espace, \n]",[\n507370_3223\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nStahl-Grau Metallic\n],[\nCloth\n],"[\n, Van, \n]",[\n5\n],[\n5\n],[\n0000/000\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,708 kg\n]",[\nfront\n],"[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...",[\n168 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Adaptive Cruise Control, Blind spot moni...","[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,7,[\nGermany\n]
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,146 kW,"[, Pre-registered, , Diesel]","[\n1\n, \n139 g CO2/km (comb)\n]",NaN,"[\nYes\n, \nEuro 6d-TEMP\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nRenault\n,"[\n, Espace, \n]",[\nEspace16\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,[\narktis-weiß\n],"[\nFull leather, Black\n]","[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Adaptive Cruise Control, Blind spot moni...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,6,[\nAustria\n]
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,147 kW,"[, Pre-registered, , Diesel]",NaN,NaN,NaN,\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n2691331\n],"[\n, 2019, \n]","[\n, Grey, \n]",NaN,[\nGrigio\n],[\nPart leather\n],"[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Driver-side airbag, ...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,6,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,165 kW,"[, Demonstration, , Super 95]",\n1\n,NaN,"[\nYes\n, \n153 g CO2/km (comb)\n]",NaN,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\nRe_30000008029\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nTitanium-Grau Metallic\n],"[\nFull leather, Brown\n]","[\n, Van, \n]",[\n5\n],[\n5\n],[\n3333/BHJ\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,685 kg\n]",[\n4WD\n],"[\n, Super 95, \n]","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",[USB],"[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Daytime running ligh...","[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n]

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   make_model                     15919 non-null  object
 1   short_description              15873 non-null  object
 2   body_type                      15859 non-null  object
 3   price                          15919 non-null  int64
 4   vat                            11406 non-null  object
 5   km                             15919 non-null  object
 6   registration                   15919 non-null  object
 7   prev_owner                     9091 non-null   object
 8   Warranty                       10499 non-null  object
 9   First Registration             14322 non-null  object
 10  Upholstery                     12199 non-null  object
 11  Nr. of Doors                   15707 non-null  object
 12  Nr. of Seats                   14942 non-null  object
 13  Model Code                     4978 non-null   object
 14  Gearing Type                   15919 non-null  object
 15  Cylinders                      10239 non-null  object
 16  Drive chain                    9061 non-null   object
 17  Fuel                           15919 non-null  object
 18  Consumption                    14013 non-null  object
 19  CO2 Emission                   14111 non-null  object
 20  Emission Class                 12898 non-null  object
 21
Comfort & Convenience
        14999 non-null  object
 22
Entertainment & Media
        14545 non-null  object
 23
Extras
                       12957 non-null  object
 24
Safety & Security
            14937 non-null  object
 25  description                    15919 non-null  object
 26  Emission Label                 3985 non-null   object
 27  Gears                          11207 non-null  object
 28  Country version                7586 non-null   object
 29  Electricity consumption        137 non-null    object
 30  Last Service Date              566 non-null    object
 31  Other Fuel Types               880 non-null    object
 32  Availability                   635 non-null    object
 33  Last Timing Belt Service Date  16 non-null     object
 34  Available from                 272 non-null    object
 35  hp_kW                          15919 non-null  object
 36  usage_status                   15917 non-null  object
 37  warranty_month                 4853 non-null   object
 38  first_registration             14322 non-null  object
 39  body_color                     15322 non-null  object
 40  paint_type                     10147 non-null  object
 41  upholstery                     15919 non-null  object
 42  nr_of_doors                    15707 non-null  object
 43  nr_of_seats                    14942 non-null  object
 44  model_code                     4978 non-null   object
 45  gearing_type                   15919 non-null  object
 46  displacement_cc                15423 non-null  object
 47  cylinders                      10239 non-null  object
 48  weight                         8945 non-null   object
 49  drive_chain                    9061 non-null   object
dtypes: int64(1), object(49)
memory usage: 6.1+ MB

# Column Review

## 1. url

In [ ]:
df.url.value_counts(dropna=False)

# PART- 2 `( Handling With Missing Vales )`

In [ ]:
def fill(df, group_col1, group_col2, col_name, method): # method can be either “mode” or “mean” or “median” or “ffill”
    ‘’'Fills the missing values with “mode/mean/median/ffill/bfill method” according to double-stage grouping’’'
    if method == “mode”:
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
    elif method == “mean”:
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mean()).fillna(df[cond1][col_name].mean()).fillna(df[col_name].mean())
    elif method == “median”:
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
    elif method == “ffill”:
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method=“ffill”).fillna(method=“bfill”)
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method=“ffill”).fillna(method=“bfill”)
        df[col_name] = df[col_name].fillna(method=“ffill”).fillna(method=“bfill”)
    print(“Number of NaN : “,df[col_name].isnull().sum())
    print(“------------------“)
    print(df[col_name].value_counts(dropna=False))

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)