___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 10</p><h1>

<h1><p style="text-align: center;">Working with Text and Time Data</p><h1>

# Working with Text Data

## String Methods
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

https://www.w3schools.com/python/python_ref_string.asp

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

___

- **lower()		  =>** Converts a string into lower case
- **upper()		  =>** Converts a string into upper case
- **capitalize()  =>** Converts the first character to upper case
- **title()		  =>** Converts the first character of each word to upper case
- **swapcase()    =>** Swaps the case lower/upper

___

___

- **isalpha()     =>** Returns True if all characters in the string are in the alphabet
- **isnumeric()   =>** Returns True if all characters in the string are numeric
- **isalnum()     =>** Returns True if all characters in the string are alphanumeric
- **endswith()	=>** Returns true if the string ends with the specified value
- **startswith()	=>** Returns true if the string starts with the specified value
- **contains()	=>** Returns a Boolean value True for each element if the substring contains in the element, else False.

___

we can use these string methods which returning boolean expression for creating condition and so selecting relative rows

___

- **replace() =>** Returns a string where a specified value is replaced with a specified value

- **split()	=>** Splits the string at the specified separator, and returns a list

- **strip()	=>** Returns a trimmed version of the string

- **find()	=>** Searches the string for a specified value and returns the position of where it was found

- **findall()	=>** Returns a list of all occurrence of the pattern.

- **join()	=>** Converts the elements of an iterable into a string

___

**str.replace() vs .replace()**

- **Purpose:** Use **str.replace** for substring replacements on a single string column, and **replace** for any general replacement on one or more columns.

- **Usage:** **str.replace** can replace one thing at a time. **replace** lets you perform multiple independent replacements, i.e., replace many things at once.

- **Default behavior:** **str.replace** enables regex replacement by default. **replace** only performs a full match unless the regex=True switch is used.

## Dummy Operation

### get_dummies()


1. pd.get_dummies(df/df["col_name"])


2. df["col_name"].get_dummies(sep = ",")

# Working with Time Data

## pd.to_datetime()
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

## Series.dt()
Accessor object for datetimelike properties of the Series values.

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html

## datetime module
The datetime module supplies classes for manipulating dates and times.

https://docs.python.org/3/library/datetime.html

### class datetime.datetime

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

### class datetime.timedelta

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

### strftime()

Converting from date/datetime/timedelta object to string type

https://strftime.org/

### strptime()

Converting from string type to datetime object

### Operation with datetime object

**lets detect the time between first order date and entry date for each product**

**lets detect the time between last order date and today for each product**

# End of The Session