In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame([('bird', 389.0),
                     ('bird', 40.0), ('bird', 405.0),
                     ('mammal', 80.2),
                     ('mammal', 12.0),('mammal', 58)],
                     index=['falcon', 'parrot', 'eagle', 'lion', 'monkey', 'leopard'],
                    columns=('class', 'speed'))
data

          class  speed
falcon     bird  389.0
parrot     bird   40.0
eagle      bird  405.0
lion     mammal   80.2
monkey   mammal   12.0
leopard  mammal   58.0

In [3]:
data.groupby("speed").max()

        class
speed
12.0   mammal
40.0     bird
58.0   mammal
80.2   mammal
389.0    bird
405.0    bird

In [4]:
data.groupby("class").max()

        speed
class
bird    405.0
mammal   80.2

In [5]:
data.groupby("class").mean()

             speed
class
bird    278.000000
mammal   50.066667